<!DOCTYPE html>
<html ng-app="coursePlanner">
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.1/angular.min.js"></script>
    <script src="controller.js"></script>
  </head>
  <body ng-controller="mainController">
     <h1>Test</h1>
  </body>
</html>
