<!DOCTYPE html>
<html>
  <head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/bootstrap/css/readable.bootstrap.css' />
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel='stylesheet' href='/stylesheets/vis.min.css' />
  </head>
  <body>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<!-- Thhis collapses the navigation into a dropdown menu with an icon that has 3 horizontal lines when on a small screen -->
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">UWM Course Planner</a>
				</div>

				<div class="collapse navbar-collapse" id="main-navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">File <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#">New plan...</a></li>
								<li><a href="#">Open plan...</a></li>
								<li><a href="#">Save plan...</a></li>
								<li class="divider"></li>
								<li><a href="#">Export plan...</a></li>
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">Help</a></li>
						<li><a href="#">Sign In</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<div class="container-fluid">
							<div class="jumbotron slim-jumbotron">
								<h1>Welcome to UWM Course Planner</h1>
								<p>UWM Course Planner is a tool for planning and visualizing a UW-Milwaukee student’s path to graduation.<br/><strong>Take the courses you want, when you need to!</strong></p>
								<img class="img-responsive img-rounded" src="/images/HP_Lucero_Rocha2.jpg"><br/>
								<p><a class="btn btn-primary btn-lg" data-toggle="modal" data-target=".bs-example-modal-lg">Get started</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

    <div class="modal fade major-minor-modal-md" tabindex="-1" role="dialog" aria-labelledby="myMediumModalLabel">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="jumbotron slim-jumbotron">
                <ul id="major-minor-list"></ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

		<div class="container-fluid">
			<div class="main-content">
				<div class="row">
					<div class="col-xs-12 col-lg-2">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">Controls</h3>
						</div>
						<div class="panel-body">
							<div class="btn-group-vertical">
									<a href="#" id="selectMajor"class="btn btn-default">Select major(s)</a>
									<a href="#" id="selectMinor" class="btn btn-default">Select minor(s)</a>
									<a href="#" class="btn btn-default disabled">Add course(s)</a>
							</div>
						</div>
					</div>
					</div>
					<div class="col-xs-12 col-lg-10">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h3 class="panel-title">Course Graph</h3>
							</div>
							<div class="panel-body">
								<div id="mynetwork"></div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-lg-2">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h3 class="panel-title">Controls</h3>
							</div>
							<div class="panel-body">
								<div class="btn-group-vertical">
										<a href="#" class="btn btn-default">Select major(s)</a>
										<a href="#" class="btn btn-default">Select minor(s)</a>
										<a href="#" class="btn btn-default disabled">Add course(s)</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="footer">
						<div class="col-xs-12">
							<p><small>&copy; Matt Zandt, Yang Xie, Anatoliy Rashragovich, Hector Quintero 2016</small></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
		<script src='/javascripts/jquery-3.1.1.min.js'></script>
		<script src='/bootstrap/js/bootstrap.min.js'></script>
		<script src='/javascripts/vis.min.js'></script>
		<script src='/javascripts/index.js'></script>
  </body>
</html>
